---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
import config from "../../astro.config.mjs";

export const getStaticPaths = async () => {
  const k : {category: 'tutorials' | 'equipment' | 'guidelines' | 'resources', title: string}[] = [
    { category: 'tutorials', title: 'Tutorials' },
    { category: 'equipment', title: 'Equipment' },
    { category: 'guidelines', title: 'Guidelines' },
    { category: 'resources', title: 'Resources' },
  ];
  return k.map(
    (category) => ({
      props: category,
      params: { category: category.category },
    })
  );
};

export const prerender = true;

const { category, title } = Astro.props;
const collection = await getCollection(category);

---
<Layout title={title} includeNavBar={true}>
  <div style={{paddingLeft: "15px", paddingRight: "15px"}}>
    <h1>{title}</h1>
    {collection.map(k => <li><a href={`${k.slug}`}>{k.data.title}</a></li>)}
    <br>
    <footer><a href="/">Back Home</a></footer>
  </div>
</Layout>
