---
import { getCollection, getEntry } from 'astro:content';

const tutorialEntries = await getCollection('tutorials');
const equipmentEntries = await getCollection('equipment');
const resourceEntries = await getCollection('resources');
const guidelineEntries = await getCollection('guidelines');

import * as Context from "../content/departments/config.ts";
const departmentEntries = (await Promise.all(Context.slugOrder.map(e => getEntry('departments', e)))).flatMap(f => f ? [f] : []);
import Layout from "../layouts/Layout.astro";
---

<Layout title="Formula Trinity Autonomous Wiki" includeNavBar={false}>
  <style>
    ul {
      list-style-type: none;
      padding-left: 0px;
    }

    ul li {
      padding-top: 1px;
      padding-bottom: 1px;
    }

    ul li a {
      color: var(--foregroundColor);
      text-decoration: none;
    }

    ul li a:hover {
      color: var(--linkHoverColor); /* Use the new hover color */
    }

    .section {
      padding: 2rem 0;
    }

    .section h2 {
      font-family: 'Arial', sans-serif;
      color: var(--foregroundColor);
      margin-bottom: 1rem;
    }

    .section-content {
      padding-left: 15px;
      padding-right: 15px;
    }

    .system-diagram {
      text-align: center;
      margin-top: 2rem;
    }

    .system-diagram object {
      width: 100%;
      max-width: 600px; /* Set the maximum width for the system diagram */
      height: auto; /* Maintain aspect ratio */
      margin: 0 auto; /* Center the diagram */
    }
  </style>

  <div style={{paddingLeft: "15px", paddingRight: "15px"}}>
    <div>
      <h2>Departments</h2>
      <ul>{departmentEntries.map(e => (<li><a href={`/${e.slug}`}>{e.data.title}</a></li>))}</ul>
    </div>
    <div>
      <h2>Tutorials</h2>
      <ul>{tutorialEntries.map(tutorial => (<li> <a href={`/${tutorial.slug}`}>{tutorial.data.title}</a> </li>))} </ul>
      <h2>Equipment</h2>
      <ul>{equipmentEntries.map(equipment => (<li> <a href={`/${equipment.slug}`}>{equipment.data.title}</a> </li>))} </ul>
      <h2>Resources</h2>
      <ul>{resourceEntries.map(resource => (<li> <a href={`/${resource.slug}`}>{resource.data.title}</a> </li>))} </ul>
      <h2>Guidelines</h2>
      <ul>{guidelineEntries.map(guideline => (<li> <a href={`/${guideline.slug}`}>{guideline.data.title}</a> </li>))} </ul>
    </div>
    <h2>System Diagram</h2>
    <div class="system-diagram">
      <object type="image/svg+xml" data="/system diagram.svg"></object>
    </div>
  </div>
</Layout>
