---
import { getCollection, getEntry } from 'astro:content';
const codeEntries = await getCollection('tutorials');
import * as Context from "../content/departments/config.ts";
const departmentEntries = (await Promise.all(Context.slugOrder.map(e => getEntry('departments', e)))).flatMap(f => f ? [f] : []);
import Layout from "../layouts/Layout.astro";
import * as Theme from "../theme.ts";
---
<Layout title="Formula Trinity Autonomous Wiki" includeNavBar={false}>
  <style>
ul {
  list-style-type: none;
  padding-left: 0px;
}

ul li {
  background: var(--gradientStartEvenColor);
  padding-top: 1px;
  padding-bottom: 1px;
}

ul li:nth-child(odd) {
  background: var(--gradientStartOddColor);
}

</style>
  <div style={{paddingLeft: "15px", paddingRight: "15px"}}>
    <style>
object { width: 100%; }
</style>
    <div>
      <h2>Departments</h2>
      <ul>{departmentEntries.map(e => (<li><a href={`/${e.slug}`}}>{e.data.title}</a></li>))}</ul>
    </div>
    <div>
      <h2>Guides and Tutorials</h2>
      <ul>{codeEntries.map(e => (<li><a href={`/${e.slug}`}}>{e.data.title}</a></li>))}</ul>
    </div>
    <h2>System Diagram</h2>
    <object type="image/svg+xml" data="/system diagram.svg"></object>
    </div>
</Layout>
