---
import { getCollection, getEntry } from 'astro:content';
const codeEntries = await getCollection('tutorials');
import * as DepartmentsContext from "../content/departments/config.ts";
const departmentEntries = (await Promise.all(DepartmentsContext.slugOrder.map(e => getEntry('departments', e)))).flatMap(f => f ? [f] : []);
import * as Theme from "../theme.ts";
---
<style define:vars={ Theme }>

ul {
  list-style-type: none;
  padding-left: 0px;
}

.left li {
  text-align: right;
}

ul li {
  background: var(--gradientStartEvenColor);
  padding-top: 1px;
  padding-bottom: 1px;
}

ul li:nth-child(odd) {
  background: var(--gradientStartOddColor);
}


.dropdown-content {
  display: none;
  background-color: var(--backgroundColor);
  padding-left: 20px;
}

.dropdown-content a {
  color: var(--foregroundColor);
  padding: 5px 0;
  display: block;
  background-color: var(--gradientStartLightColor);
}
.dropdown-content a:hover {
  color: var(--linkHoverColor);
}

.dropdown-btn::before {
  content: "▸";
  padding-right: 0.5em;
}

.show::before {
  content: "▼";
}

.dropdown-btn {
  cursor: pointer;
  color: var(--linkColor);
  position: relative;
}

.dropdown-btn:hover { color: var(--linkHoverColor) }
.show ~ .dropdown-content {
  display: block;
  animation: ease-in 1s;
}
</style>
<script>

document.addEventListener('DOMContentLoaded', () => {
  document.querySelectorAll('.dropdown-btn').forEach(btn => {
    btn.addEventListener('click', event => {
      // Close all dropdowns
      document.querySelectorAll('.dropdown-btn').forEach(content => {
        content.classList.remove('show');
      });
      // Open the clicked dropdown
      event.currentTarget.classList.toggle('show');
    });
  });
});
</script>
<h2>Departments</h2>
<ul>
  {departmentEntries.map(department => (
    <li class="dropdown">
      <span class="dropdown-btn">{department.data.title}</span>
      <div class="dropdown-content">
        <a href={`/${department.slug}`}>Overview</a>
        <a href={`/${department.slug}-theory`}>Theory</a>
      </div>
    </li>
  ))}
</ul>
<h2>Guides and Tutorials</h2>
<ul>
  {codeEntries.map(tutorial => (
    <li>
      <a href={`/${tutorial.slug}`}>{tutorial.data.title}</a>
    </li>
  ))}
</ul>
